

.pokemons{
    
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon .number{

 color:black ;
 opacity: 0.3;
 text-align: right;

}

.pokemon .detail{
    display: flex;
    flex-direction: row;
}

.pokemon .types{
    padding: 0;
    margin: 0;
    list-style: none;

}

.pokemon{

    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1.2rem;
    
    color: white;
    background-color: #49d0b0;
}

.pokemon .detail img{
    border-style: none;
    max-width: 100%;
    height: 110px;
}


@media screen and (min-width: 300px) {
  
    .pokemons{
        grid-template-columns: 1fr 1fr;
      }
}

@media screen and (min-width: 576px) {
  
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
      }
}


@media screen and (min-width: 992px) {
  
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
}
